# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
# from scipy.stats import ttest_1samp
# from scipy.stats import norm
from scipy import stats
import requests
from io import StringIO

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:

orig_url = 'https://drive.google.com/file/d/1GEdCpGS0qUKzwbS9jVjeaBP-KiDeq5BM/view?usp=sharing'
file_id = orig_url.split('/')[-2]
dwn_url = 'https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
salaries = pd.read_csv(csv_raw)

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33702 non-null  object
 1   Job Titles         33702 non-null  object
 2   Department         33702 non-null  object
 3   Full or Part-Time  33702 non-null  object
 4   Salary or Hourly   33702 non-null  object
 5   Typical Hours      8174 non-null   float64
 6   Annual Salary      25528 non-null  float64
 7   Hourly Rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries[['Name', 'Salary or Hourly']].groupby('Salary or Hourly').count()

                   Name
Salary or Hourly
Hourly             8174
Salary            25528

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries[['Name', 'Department']].groupby('Department').count()

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

# null hypothesis : mean value for the population is = 30$/h - This is the opposite of what we actually want to check
# the alternative hypothesis 'The mean is != 30$/h' - This is our actual question; two tailed test

arr = salaries['Hourly Rate'][salaries['Hourly Rate'].notnull()].to_numpy()
stat, pval = stats.ttest_1samp(arr, 30)

print(pval, stat)
# There is 95% chance that averange hourly wage is different from 30$/h, it's actually higher.

3.825475847673794e-202 31.211500329216044

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

police = salaries.loc[(salaries['Department'] == 'POLICE') &
                      (salaries['Annual Salary'].notnull() == True)]['Annual Salary'].to_numpy()

# null hypothesis : mean value for the population is = $86000/year - This is the opposite of what we actually want to check
# the alternative hypothesis 'The mean is > $86000/year' - This is our actual question; one tailed test

stat, pval = stats.ttest_1samp(police, 86000)
print(pval/2, stat)
# P-value is less that 0.05, hense our null hypothesis should be rejected. Averange annual salary of police in current year
# is higher than 86000 (aveange of last year), it's based on a sign of 'stat' value.

6.119566952121482e-76 18.51748561981861

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

h_workers = pd.crosstab(index=0, columns=salaries['Department'], values=salaries['Hourly Rate'], aggfunc='count').reset_index()
h_workers.transpose().sort_values(by=0, ascending=False).iloc[0]

0    1846
Name: STREETS & SAN, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:
cond1 = salaries['Department'] == 'STREETS & SAN'
cond2 = salaries['Salary or Hourly'] == 'Hourly'
streets_san = salaries.loc[cond1 & cond2]['Hourly Rate'].to_numpy()

# null hypothesis : mean value for the population is = $35/hour - This is the opposite of what we actually want to check
# the alternative hypothesis 'The mean is < $35/hour' - This is our actual question; one tailed test

stat, pval = stats.ttest_1samp(streets_san, 35)
print(pval/2, stat)

# P-value 0.0000329 is less that 0.05, hense our null hypothesis should be rejected. Also based on 'stat' value averange
# hourly rate of workers in this department is higher than $35/hour.

3.2902372218867895e-05 4.000138803968834

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
hourly_rate = salaries['Hourly Rate'].loc[salaries['Hourly Rate'].notnull()]
hourly_rate

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [12]:
freedom_degree = (salaries['Hourly Rate'].count()-1)
m = salaries['Hourly Rate'].mean()
conf_level = 0.95
st_err = stats.sem(hourly_rate, ddof=freedom_degree)
st_err

13.284730255474097

In [13]:
stats.t.interval(conf_level, df=freedom_degree, loc=m, scale=st_err)

(8.54500032496247, 60.62789911227844)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [14]:
# Your code here:

conf_level = 0.95
freedom_degree = (len(police)-1)
m = police.mean()
st_err = stats.sem(police, ddof=freedom_degree)
stats.t.interval(conf_level, df=freedom_degree, loc=m, scale=st_err)

(53562.66776608571, 124105.57008113651)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [16]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

count = salaries['Hourly Rate'].count()    # the number of successful trials, i.e. the number of Yes events in my list
nobs = salaries['Name'].count()            # the total number of trials, i.e. the number of rows in my list
value = 0.25                               # the proportion to test against
stat, pval = proportions_ztest(count, nobs, value) # Where should confidence level go?
print(pval, stat)
# P-value is less than 0.05 so it means that number of hourly worker is significanlty different from 25% and based on 'stat'
# value this proportion is smaller than 25%.

0.0013922864704323116 -3.1962453870335